#HL7FileContent {
  height: 256px;
  width: 512px;
  overflow: auto;
  white-space: pre;
  font-family: monospace;
  border: solid black 1px;
}

#HL7FileContent.empty {
  text-align: center;
  vertical-align: middle;
  line-height: 256px;       /* the same as your div height */
  overflow: hidden;
}
