body, html {
  height: 98%;
  margin: 0px;
  padding: 3px;
}

#appTitle, #appSubtitle {
  display: inline;
}

#selectFileSection {
  /*background-color: red;*/
}

#selectFieldsSection {
  /*background-color: green;*/
  height: 82%;
  overflow: auto;
}

#extractSection {
  /*background-color: cyan;*/
  position: absolute;
  bottom: 5px;
  width: 99%;
}

#changeFieldSelectionSection {
  display: inline;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

#selectFieldsSection, #extractSection {
  display: none;
}
